{% include 'layout/head.njk' %}
    {% include 'layout/theme-switch.njk' %}
    {% include 'layout/header.njk' %}

    <main>
        {{ content | safe }}
    </main>
    {% include 'layout/footer.njk' %}

