<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ book_title }} || hellogaray</title>
    <link rel="stylesheet" hreft="./style.css">
</head>
<body>
    {{ book_title }}
    {{ author_name }}    
    {{ date_finished }}
    {{ total_pages }}
    {{ is_fniinshed }}
    {{ own_book }}
    {{ kindle_read }}
    {{ tags }}
    {{ book_isbn }}
    {{ content | safe }}
</body>
</html>