 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} || hellogaray</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
        <div class="scroll-blur-overlay"></div>

<header class="header">
    <!-- Name Logo -->
    <section class="header__logo">
        <div class="logo__letters">
            <div class="letter first_initial">M</div>
            <div class="letter char">'</div>
            <div class="letter char">s</div>
            <div class="letter char">&nbsp;</div>
            <div class="letter second_initial">B</div>
            <div class="letter char">o</div>
            <div class="letter char">o</div>
            <div class="letter char">k</div>
            <div class="letter char">m</div>
            <div class="letter char">a</div>
            <div class="letter char">r</div>
            <div class="letter char">k</div>
            <div class="letter char">s</div>
        </div> 
    </section>
    <nav>
        <ul class="header__menu">
            <li><a class="header__link" href="#books" data-underlink="">Books</a></li>
            <li><a class="header__link" href="#about-" data-underlink="">About</a></li>
        </ul>
    </nav>

</header>