    <header class="header">
        <!-- Name Logo -->
        <section class="header__logo">
            <div class="logo__letters">
                <div class="letter first_initial">M</div>
                <div class="letter char">'</div>
                <div class="letter char">s</div>
                <div class="letter char">&nbsp;</div>
                <div class="letter second_initial">B</div>
                <div class="letter char">o</div>
                <div class="letter char">o</div>
                <div class="letter char">k</div>
                <div class="letter char">m</div>
                <div class="letter char">a</div>
                <div class="letter char">r</div>
                <div class="letter char">k</div>
                <div class="letter char">s</div>
            </div> 
        </section>
    </header>