/* ========================================
  FOOTER SECTION
  ======================================== */
footer {
  position: fixed;
  bottom: 1rem;
}

#footer__author {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 9999;
}