/* ========================================
  FOOTER SECTION
  ======================================== */
footer {
  position: fixed;
  bottom: 1rem;
}

.footer__clock {
  position: fixed;
  bottom: 1rem;
  right: 2vw;
  z-index: 9999;
}