            <footer>
                <div id="footer">
                    <div class="clock">--:--:--</div>
                    Code by {{ site.author }} (repository). 
                    <div class="scroll_message">[Scroll To Explore]</div>
                </div>
            </footer> 
        <script src="/assets/js/loader.js" defer></script>
    </body>
</html>