            <footer>
                <div id="footer__author">Code by {{ site.author }} (<a href="{{ site.repository }}">repository</a>).</div>
            </footer> 
        <script src="/assets/js/loader.js" defer></script>
    </body>
</html>