 <header>
    <!-- Name Logo -->
    <section class="header__logo">
        <a href="{{ '/' | url }}">
            <div class="logo__letters">
                <div class="letter first_initial">M</div>
                <div class="letter char">'</div>
                <div class="letter char">s</div>
                <div class="letter char">&nbsp;</div>
                <div class="letter second_initial">B</div>
                <div class="letter char">o</div>
                <div class="letter char">o</div>
                <div class="letter char">k</div>
                <div class="letter char">m</div>
                <div class="letter char">a</div>
                <div class="letter char">r</div>
                <div class="letter char">k</div>
                <div class="letter char">s</div>
            </div> 
        </a>
    </section>
    <section class="header__info-container-1">
        <div id="infoIcon"> info </div>
        <div id="infoIcon-close"> close </div>
    </section>

    <!-- Overlay -->
    <div id="overlay" class="overlay">
        <div class="overlay__content">
            <div class="header__info-container-2"></div>
            <span class="info__title">INFORMATION</span>
            <div class="info__stack">
                <p class="overlay__title">
                    Stack
                </p>
                <p class="overlay__info">
                    This site was made using <a href="https://www.11ty.dev">11ty</a> 
                    and <a href="https://developer.mozilla.org/en-US/docs/Learn_web_development/Getting_started/Your_first_website/Creating_the_content">HTML</a>. 
                    Animations are a combination of <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Introduction">JavaScript</a>, 
                    <a href="">CSS</a>, and <a href="https://gsap.com/">GSAP</a>
                </p>
            </div>
            <div class="info__about">
                <p class="overlay__title">
                    Author
                </p>
                <p class="overlay__info">
                    Made by <a href="https://github.com/hellogaray">hellogaray</a>, you can take a look at the code <a href="https://github.com/hellogaray/bookmarks">here</a>.
                </p> 
            </div>
            <div class="info__copyrights">
                <p class="overlay__title">
                    Copyright
                </p>
                <p class="overlay__info">
                    Covers and quotes copyright to their respective authors. Source code available <a href="https://github.com/hellogaray/bookmarks">here</a> under the repository’s license.                </p> 
            </div>
        </div>
    </div>
</header>