 <header>
    <!-- Name Logo -->
    <section class="header__logo">
        <a href="{{ '/' | url }}">
            <div class="logo__letters">
                <div class="letter first_initial">M</div>
                <div class="letter char">'</div>
                <div class="letter char">s</div>
                <div class="letter char">&nbsp;</div>
                <div class="letter second_initial">B</div>
                <div class="letter char">o</div>
                <div class="letter char">o</div>
                <div class="letter char">k</div>
                <div class="letter char">m</div>
                <div class="letter char">a</div>
                <div class="letter char">r</div>
                <div class="letter char">k</div>
                <div class="letter char">s</div>
            </div> 
        </a>
    </section>
    <section class="header__info-container-1">
        <div id="infoIcon"> info </div>
        <div id="infoIcon-close"> close </div>
    </section>

    <!-- Overlay -->
    <div id="overlay" class="overlay">
        <div class="overlay__content">
            <div class="header__info-container-2"></div>
            <span class="info__title">INFORMATION</span>
            <div class="info__stack"></div>
                Stack: 
                HTML, CSS, GSAP, 11TY
            <div class="info__about">
                About the author
            </div>
            <div class="info__tutorials">
            Tutorials to learn
            </div>
            <div class="info__copyrights">
            Copyrights
            </div>
        </div>
    </div>
</header>