 <header>
    <!-- Name Logo -->
    <section class="header__logo">
        <a href="{{ '/' | url }}">
            <div class="logo__letters">
                <div class="letter first_initial">M</div>
                <div class="letter char">'</div>
                <div class="letter char">s</div>
                <div class="letter char">&nbsp;</div>
                <div class="letter second_initial">B</div>
                <div class="letter char">o</div>
                <div class="letter char">o</div>
                <div class="letter char">k</div>
                <div class="letter char">m</div>
                <div class="letter char">a</div>
                <div class="letter char">r</div>
                <div class="letter char">k</div>
                <div class="letter char">s</div>
            </div> 
        </a>
    </section>
<!-- SVG Trigger -->
<section class="header__menu">
    <svg id="infoIcon" class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
    </svg>
</section>

<!-- Overlay -->
<div id="overlay" class="overlay">
    <div class="overlay__content">
        <h2>Website Info</h2>
        <p>This is your website's information, about, contact, etc.</p>
        <button id="closeOverlay">Close</button>
    </div>
</div>

</header>